<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case list</title>
<!--<script type="module" src="your-script.js"></script>-->
<script>

var xhr;

// 환자추가하기
function postCase() {
  var patientId = document.getElementById("newcase").value;
  console.log(patientId)  
  
  const data = {
    id: patientId, 
  };

  fetch("/cases1", {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify({id: patientId}),
    }) 
    .then(response => response.json())
    .then(data => {      
      console.log(data);
      
     })
  .catch(error => {      
      console.error(error);
  });  

}

// 환자 코멘트 수정하기
function putCase(pId) {      
    var comment = document.getElementById(`cmt_${pId}`).value;  
    console.log(comment)
    
    fetch('/cases', {
    method: 'PUT',
    headers: {
      'Content-Type': 'application/x-www-form-urlencoded',
    },
    body: `p_id=${pId}&p_cmt=${encodeURIComponent(comment)}`,
  })
    .then(response => response.json())
    .then(data => {
      // Handle the response from the backend
      console.log(data.result_msg);
      // Update the input value with the updated comment
      
    })
    .catch(error => {
      console.error('Error:', error);
    });
}

// 환자번호 입력시 삭제하기
function delCase(pId) {   
  
  if (confirm(`환자번호 ${pId}를 삭제하시겠습니까?`)) {
    fetch(`/cases?p_id=${pId}`, {
      method: 'DELETE',
    })
    .then(response => response.json())
    .then(data => {        
        console.log(data.result_msg);
        location.reload();
    })
    .catch(error => {
        console.error('Error:', error);
    });
  }
}

//환자 검색하기
function findCase() {
  const pId = document.getElementById('findcase').value;
  console.log(pId)
  if (pId.trim() !== '') {    
    fetch(`/cases?p_id=${pId}`, {
      method: 'GET',
    })
      .then(response => response.json())
      .then(data => {
        // Handle the response from the backend
        console.log(data);
        // Perform any additional actions if needed
      })
      .catch(error => {
        console.error('Error:', error);
      });
  }
}


</script> 



</head>
<body>

    <div style="padding:10px;">
        <a href="/">HOME</a>
    </div>

    <h1 style="padding:10px;">Caselist</h1>
    <div style="margin:20px 0">
        <input type="text" id="newcase" placeholder="환자아이디"/>        
        <button onclick="postCase()">추가하기</button>
    </div>
    <div style="margin:20px 0">
      <input type="text" id="findcase" placeholder="환자아이디"/>        
      <button onclick="findCase()">검색하기</button>
  </div>
    <div  id="casetable">
    <table width="100%" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th>환자아이디</th>
            <th>LF점수</th>
            <th>SOFA점수</th>
            <th>MEWS점수</th>
            <th>코멘트</th>
            <th>추가</th>
            <th>자세히보기</th>
            <th>삭제</th>
        </tr>
    
    {% if cases %}        
    {% for case in cases %}
    <tr style="padding:10px;height:45px;" id="casebox_{{case.u_id}}">
        <td align="center" id="pid_{{case.p_id}}">{{case.p_id}}</td>
        <td align="center">{{case.p_score}}</td>
        <td align="center">{{case.p_SOFA}}</td>
        <td align="center">{{case.p_MEWS}}</td>
        <td align="center"><input type="text" id="cmt_{{case.p_id}}" value="{{case.p_cmt}}"></td>
        <td align="center"><button onclick="putCase('{{case.p_id}}')">cmt</button></td>
        <td align="center"><a href="/cases/{{case.p_id}}"><button>보기</button></a></td>
        <td align="center"><button onclick="delCase('{{case.p_id}}')">삭제</button></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr style="padding:10px;border-top:solid 1px #3388cc;">
            <td>
            No case...
            </td>
        </tr>
    {% endif %}
    </table>
    </div>

</body>
</html>