<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Case list</title>
<script>
// Ajax로 수정
var xhr;

function putCase(elem) {   
    console.log("확인1")
    var pid = parseInt(elem.getAttribute('pid'));
    console.log(pid)
    var cmt = document.getElementById('cmt_'+pid).value;  
    console.log(cmt)
    var data = new FormData();
    data.append('p_id', pid);
    data.append('p_cmt', cmt);
    
    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (xhr.readyState === XMLHttpRequest.DONE) {
            if (xhr.status === 200) {
                var response = JSON.parse(xhr.responseText);
                console.log(response.result_msg);
                // Handle the response as needed
            } else {
                console.error('Error:', xhr.status);
                // Handle the error response
            }
        }
    };
    
    xhr.open("PUT", "/cases");
    xhr.send(data);
}


</script>   
</head>
<body>

    <div style="padding:10px;">
        <a href="/">HOME</a>
    </div>

    <h1 style="padding:10px;">Caselist</h1>
    <div style="margin:20px 0">
        <input type="text" id="username_" value="환자아이디" />
        
        <button onclick="postUser()">추가하기</button>
    </div>
    <div  id="casetable">
    <table width="100%" border="1" cellpadding="0" cellspacing="0">
        <tr>
            <th>환자아이디</th>
            <th>LF점수</th>
            <th>SOFA점수</th>
            <th>MEWS점수</th>
            <th>코멘트</th>
            <th>자세히보기</th>
            <!--<th>수정</th>-->
            <th>삭제</th>
        </tr>
    {% if cases %}
        {% for case in cases %}
        <tr style="padding:10px;height:45px;" id="casebox_{{case.u_id}}">
            <td align="center" id="pid_{{case.p_id}}">{{case.p_id}}</td>
            <td align="center">{{case.p_score}}</td>
            <td align="center">{{case.p_SOFA}}</td>
            <td align="center">{{case.p_MEWS}}</td>
            <td align="center"><input type="text" id="cmt_{{case.pid}}" value="{{case.p_cmt}}">
                <button pid= "{{case.p_id}}" onclick="putCase(this)">추가</button></a></td>
            <td align="center"><a href="/cases/{{case.p_id}}"><button>보기</button></a></td>
            <!--<td align="center"><button userid="{{case.p_id}}" onclick="putUser(this)">수정</button></td>-->
            <td align="center"><button onclick="deleteUser({{case.p_id}})">삭제</button></td>
        </tr>
        {% endfor %}
    {% else %}
        <tr style="padding:10px;border-top:solid 1px #3388cc;">
            <td>
            No user...
            </td>
        </tr>
    {% endif %}
    </table>
    </div>

</body>
</html>