<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>사용자 - detail</title>
</head>

<body>

    <div style="padding:10px;">
        <a href="/">HOME</a>
        <a href="/cases">LIST</a>
    </div>

    <h1 style="padding:10px;"><b>환자:{{case.p_id}}</b> </h1>
    <h1 style="padding:10px;"><b>LFscore:{{case.p_score}}</b> </h1>
    <h1 style="padding:10px;"><b>SOFAscore:</b> </h1>
    <h1 style="padding:10px;"><b>MEWSscore:</b> </h1>


    </div>

    <div id="vitaltable">
        <table width="100%" border="1" cellpadding="0" cellspacing="0">
            <tr>
                <th align="center">rec_time</th>
                <th align="center">age</th>
                <th align="center">ICUtype</th>
                <th align="center">ALP</th>
                <th align="center">Albumin</th>
                <th align="center">BUN</th>
                <th align="center">Bilirubin</th>
                <th align="center">Cholesterol</th>
                <th align="center">Creatinine</th>
                <th align="center">FiO2</th>
                <th align="center">GCS</th>
                <th align="center">Glucose</th>
                <th align="center">HCO3</th>
                <th align="center">HCT</th>
                <th align="center">HR</th>
                <th align="center">K</th>
                <th align="center">Lactate</th>
                <th align="center">Mg</th>
                <th align="center">Na</th>
                <th align="center">PaCO2</th>
                <th align="center">PaO2</th>
                <th align="center">Platelets</th>
                <th align="center">RR</th>
                <th align="center">SPO2</th>
                <th align="center">BT</th>
                <th align="center">Urine</th>
                <th align="center">WBC</th>
                <th align="center">pH</th>
                <th align="center">MechVent</th>
                <th align="center">SBP</th>
                <th align="center">DBP</th>
                <th align="center">MBP</th>
            </tr>
            {% if vitals %}
            {% for vital in vitals %}
            <tr style="padding:10px;height:45px;" id="casebox_{{vital.u_id}}">
                <td align="center">{{vital.v_sequence}} </td>               
                <td align="center">{{vital.rec_time}}</td>
                <td align="center">{{vital.age}}</td>
                <td align="center">{{vital.Gender}}</td>
                <td align="center">{{vital.ICUtype}}</td>
                <td align="center">{{vital.ALP}}</td>
                <td align="center">{{vital.Albumin}}</td>
                <td align="center">{{vital.BUN}}</td>
                <td align="center">{{vital.Bilirubin}}</td>
                <td align="center">{{vital.Cholesterol}}</td>
                <td align="center">{{vital.Creatinine}}</td>
                <td align="center">{{vital.FiO2}}</td>
                <td align="center">{{vital.GCS}}</td>
                <td align="center">{{vital.Glucose}}</td>
                <td align="center">{{vital.HCO3}}</td>
                <td align="center">{{vital.HCT}}</td>
                <td align="center">{{vital.HR}}</td>
                <td align="center">{{vital.K}}</td>
                <td align="center">{{vital.Lactate}}</td>
                <td align="center">{{vital.Mg}}</td>
                <td align="center">{{vital.Na}}</td>
                <td align="center">{{vital.PaCO2}}</td>
                <td align="center">{{vital.PaO2}}</td>
                <td align="center">{{vital.Platelets}}</td>
                <td align="center">{{vital.RR}}</td>
                <td align="center">{{vital.SPO2}}</td>
                <td align="center">{{vital.BT}}</td>
                <td align="center">{{vital.Urine}}</td>
                <td align="center">{{vital.WBC}}</td>
                <td align="center">{{vital.pH}}</td>
                <td align="center">{{vital.MechVent}}</td>
                <td align="center">{{vital.SBP}}</td>
                <td align="center">{{vital.DBP}}</td>
                <td align="center">{{vital.MBP}}</td>


            </tr>
            {% endfor %}
        {% else %}
            <tr style="padding:10px;border-top:solid 1px #3388cc;">
                <td>
                No user...
                </td>
            </tr>
        {% endif %}
           
        </table>
    </div>
    <!-- Display navigation links or buttons for paging -->
    <div>
        <!-- Previous page link -->
        {% if page > 1 %}
        <a href="/cases/{{case.p_id}}?page={{ page - 1 }}&rows_per_page={{ rows_per_page }}">Previous</a>
        {% endif %}

        <!-- Page numbers -->
        {% for p in range(1, total_pages + 1) %}
        {% if p == page %}
        <strong>{{ p }}</strong>
        {% else %}
        <a href="/cases/{{case.p_id}}?page={{ p }}&rows_per_page={{ rows_per_page }}">{{ p }}</a>
        {% endif %}
        {% endfor %}

        <!-- Next page link -->
        {% if page < total_pages %} <a
            href="/cases/{{case.p_id}}?page={{ page + 1 }}&rows_per_page={{ rows_per_page }}">Next</a>
            {% endif %}
    </div>

</body>

</html>