<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/static/user_list.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <title>Case list</title>
  <!--<script type="module" src="your-script.js"></script>-->
  <style>
    /* Tab content is initially hidden */
    .tab-content {
      display: none;
    }

    /* Style for active tab */
    .active {
      display: block;
    }

    @font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
    }
  </style>

  <!---->
  <script>
    var xhr;
    // 환자추가하기
    function postCase() {
      var patientId = document.getElementById("newcase").value;
      console.log(patientId)

      fetch("/cases1", {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify({ id: patientId }),
      })
        .then(response => response.json())
        .then(data => {
          console.log(data.result_msg)
          location.reload();
        })
        .catch(error => {
          alert("환자 id를 확인하세요");
          console.error(error);
        });
    }

    //환자 검색하기
    function searchCase() {
      var pId = document.getElementById('p_id').value;
      console.log(pId)

      // Check if pId is valid
      if (pId.trim() !== "") {
        // Redirect to the user_search page with the p_id as a query parameter
        window.location.href = `/search_case?p_id=${pId}`;
        console.log(pId)
      } else {
        alert("환자 id를 확인하세요");
      }
    }
    /*function searchCase() {
      var searchInput = document.getElementById('searchInput');
      var p_id = searchInput.value;      
      // Perform AJAX request to fetch search results
      var xhr = new XMLHttpRequest();
      xhr.open('GET', '/cases?user=' + encodeURIComponent('{{ user }}') + '&p_id=' + encodeURIComponent(p_id), true);
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            // Update the content of the 'casetable' element with the response HTML
            var casetable = document.getElementById('casetable');
            casetable.innerHTML = xhr.responseText;
          } else {
            // Handle error
            console.error('Search request failed with status:', xhr.status);
          }
        }
      };
      xhr.send();
    }*/

    // 환자 코멘트 수정하기
    function putCase(pId) {
      var comment = document.getElementById(`cmt_${pId}`).value;
      console.log(comment)

      fetch('/cases', {
        method: 'PUT',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: `p_id=${pId}&p_cmt=${encodeURIComponent(comment)}`,
      })
        .then(response => response.json())
        .then(data => {
          console.log(data.result_msg);
        })
        .catch(error => {
          console.error('Error:', error);
        });
    }

    // 환자번호 입력시 삭제하기
    function delCase(pId) {

      if (confirm(`환자번호 ${pId}를 삭제하시겠습니까?`)) {
        fetch(`/cases?p_id=${pId}`, {
          method: 'DELETE',
        })
          .then(response => response.json())
          .then(data => {
            console.log(data.result_msg);
            location.reload();
          })
          .catch(error => {
            console.error('Error:', error);
          });
      }
    }


  </script>
  <!--탭 스크립트-->

  <script>
    function showTab(tabId) {
      var tabContent = document.getElementsByClassName("tab-content");

      for (var i = 0; i < tabContent.length; i++) {
        tabContent[i].style.display = "none";
      }
      document.getElementById(tabId).style.display = "block";
    }
  </script>


</head>

<body>



  <!--헤더-->

  <div class="header" style="margin-bottom : 80px;">
    <nav class="navbar">
      <a href="/cases/?user={{user}}" style="text-decoration: none;"><img class="nav_logo" src="/static/Logo_투명.png">
        <!-- <img class = "logo_letter" src="/static/Logo_letter.png"> -->
        <p style="margin-left : 76px; margin-top : -43px; color : #fff; font-size : 20px;">LIFE FORCE</p>
      </a>


      <div class="Login_welcome">
        <img src="/static/hospital.svg" class="profile" style="color : #fff;">
        <h4 class="Welcome_letter">{{user}}</h4>
        <div class="logout_btn">
          <a href="/"><img src="/static/unlock-fill.svg" alt=""></a>
        </div>
      </div>


    </nav>
  </div>



  <!--환자 추가하기 // 검색하기 버튼-->





  <!--, change_btn(event)-->
  <div class="btn_container">
    <button id="tabButton1" onclick="showTab('tabContent1')" class="all_btn">All</button>
    <h4 style="font-size : 25px; margin-left : 16px; margin-top : 58px; color : #9593ff">|</h4>
    <button id="tabButton2" onclick="showTab('tabContent2')" class="detected_btn">Detected</button>


    <div class="add_container">
      <input type="text" id="newcase" class="add_input" placeholder="환자추가(P_ID)" onfocus="this.placeholder = ''"
        onblur="this.placeholder = '환자추가(P_ID)'" />

      <button onclick="postCase()" class="add_btn"><img src="/static/plus.svg" class="add_logo"></button>
      <!--  </div> -->
      <!--  <div class="search_container"> -->


      <input type="text" id="p_id" class="search_input" placeholder="환자검색(P_ID)" onfocus="this.placeholder = ''"
        onblur="this.placeholder = '환자검색(P_ID)'" />

      <button onclick="searchCase()" class="search_btn"><img src="/static/search.svg" class="search_logo"></button>
    </div>
  </div>



  <!--환자 테이블 나오는 곳-->
  <div id="tabContent1" class="tab-content" style="display: block;">
    <div id="casetable">
      <!-- 새로 추가한 테이블(수정) -->
      <table cellpadding="0;" class="rwd-table">
        <tbody>
          <tr class="tab1_tr">
            <th>P_ID</th>
            <th>Name</th>
            <th>LFS</th>
            <th>SOFA</th>
            <th>MEWS</th>
            <th style="width : 500px;">Comment</th>
            <th>Detail</th>
            <th>Delete</th>
          </tr>
          {% set names = ['김영수', '이순자', '박종훈', '정미숙', '최영식', '강숙자', '한철호', '박미영', '이영자', '김철수', '송숙희', '장현호', '최정숙',
          '황승식', '이미영', '한영자', '임철호', '오미영', '윤영수', '김현자'] %}
          {% if cases %}
          {% for case in cases %}
          {% set name = names[loop.index0] %}
          <tr style="padding:10px;height:45px;" id="casebox_{{case.u_id}}">
            <td align="center" id="pid_{{case.p_id}}">{{ case.p_id }}</td>
            <td align="center">{{name}}</td>
            {%if case.p_score >=80%}
            <td align="center" class="Life_score" style="color:red;">{{case.p_score}}</td>
            {%elif case.p_score>=60%}
            <td align="center" class="Life_score" style="color:rgb(255, 191, 0);">{{case.p_score}}</td>
            {%else%}
            <td align="center" class="Life_score" style="color:rgb(10, 222, 88);">{{case.p_score}}</td>
            {%endif%}
            <td align="center">{{case.p_SOFA}}</td>
            <td align="center">{{case.p_MEWS}}</td>
            <td align="center">
              <input type="text" class="cmt_input" id="cmt_{{case.p_id}}" value="{{case.p_cmt}}">
              <button onclick="putCase('{{case.p_id}}')" class="cmt_btn"><img src="/static/pencil-square.svg"
                  class="cmt_logo"></button>
            </td>
            <td align="center"><a href="/cases/{{case.p_id}}/?user_name={{user}}&p_name={{name}}"><button
                  style="width : 50px; border-radius : 10px;" class="detail_btn"><img src="/static/eye.svg" alt=""
                    class="detail_logo"></button></a></td>
            <td align="center"><button onclick="delCase('{{case.p_id}}')" class="delete_btn"><img
                  src="/static/trash3.svg" class="delete_logo"></button></td>
          </tr>
          {% endfor %}
          {% else %}
          <tr style="padding:10px;border-top:solid 1px #3388cc;">
            <td>
              No case...
            </td>
          </tr>
          {% endif %}
      </table>



    </div>
  </div>

  <!--LF 점수 몇점(기본값: 60점) 이상만 나오게-->
  <div id="tabContent2" class="tab-content">
    <div id="casetable">
      <table cellpadding="0;" class="rwd-table">
        <tbody>
          <tr class="tab1_tr">
            <th>P_ID</th>
            <th>Name</th>
            <th>LFS</th>
            <th>SOFA</th>
            <th>MEWS</th>
            <th style="width : 500px;">Comment</th>
            <th>Detail</th>
            <th>Delete</th>
          </tr>
          {% if cases %}
          {% for case in cases %}
          {% if case.p_score >= 60 %}
          {% set name = names[loop.index0] %}
          <tr style="padding:10px;height:45px;" id="casebox_{{case.u_id}}">
            <td align="center" id="pid_{{case.p_id}}">{{ case.p_id }}</td>
            <td align="center">{{name}}</td>
            {%if case.p_score >=80%}
            <td align="center" class="Life_score" style="color:red;">{{case.p_score}}</td>
            {%else%}
            <td align="center" class="Life_score" style="color:orange;">{{case.p_score}}</td>
            {%endif%}
            <td align="center">{{case.p_SOFA}}</td>
            <td align="center">{{case.p_MEWS}}</td>
            <td align="center">
              <input type="text" class="cmt_input" id="cmt_{{case.p_id}}" value="{{case.p_cmt}}">
              <button onclick="putCase('{{case.p_id}}')" class="cmt_btn"><img src="/static/pencil-square.svg"
                  class="cmt_logo"></button>
            </td>
            <td align="center"><a href="/cases/{{case.p_id}}/?user_name={{user}}&p_name={{name}}"><button
                  style="width : 50px; border-radius : 10px;" class="detail_btn"><img src="/static/eye.svg" alt=""
                    class="detail_logo"></button></a></td>
            <td align="center"><button onclick="delCase('{{case.p_id}}')" class="delete_btn"><img
                  src="/static/trash3.svg" class="delete_logo"></button></td>
          </tr>
          {% endif %}
          {% endfor %}
          {% else %}
          <tr style="padding:10px;border-top:solid 1px #3388cc;">
            <td>
              등록된 환자가 없습니다.
            </td>
          </tr>
          {% endif %}
      </table>
    </div>
  </div>

  <!--페이징 처리-->
  <div class="pagination">
    <!-- Previous page link -->
    {% if page > 1 %}
    <a href="/cases?user={{user}}&page={{ page - 1 }}&rows_per_page={{ rows_per_page }}" class="page_num">◀</a>
    {% endif %}

    <!-- Page numbers -->
    {% for p in range(1, total_pages + 1) %}
    {% if p == page %}
    <strong class="page_num_strong">{{ p }}</strong>
    {% else %}
    <a href="/cases?user={{user}}&page={{ p }}&rows_per_page={{ rows_per_page }}" class="page_num">{{ p }}</a>
    {% endif %}
    {% endfor %}

    <!-- Next page link -->
    {% if page < total_pages %} <a href="/cases?user={{user}}&page={{ page + 1 }}&rows_per_page={{ rows_per_page }}"
      class="page_num">
      ▶</a>
      {% endif %}
  </div>

</body>

</html>