<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LIFE FORCE</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="/static/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
   
</head>

<body>    
    <body class="sb-nav-fixed">
        <nav class="sb-topnav navbar navbar-expand navbar-lifeforce bg-lifeforce">
            <!-- Navbar Brand-->
            <img src="/static/lifeforce_3.png" width="50px" style="margin-left: 10px;">
            <a class="navbar-brand ps-3" href="user_detail.html">LIFE FORCE</a>
            <!-- LIST Toggle-->
            <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="LIST Toggle" href="/cases?user={{user}}"><i class="fas fa-bars"></i></button>
            <!-- Navbar Search-->
            <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
                    <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
                </div>
            </form>
            <!-- Navbar-->
            <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/">LOGOUT</a></li>
                        <li><hr class="dropdown-divider" /></li>
                    </ul>
                </li>
            </ul>
        </nav>

        <!-- SCORE TABLE -->
        <div id="layoutSidenav_content">
            <main>
                <div class="container-fluid px-4">
                    <h1 class="mt-4"></h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item active"></li>
                    </ol>
                    <div class="row1">
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-light text-gray mb-4">
                                <div class="scorebox">
                                <div class="card-body">LF SCORE</div>
                                <div><h1 style="padding:10px; text-align:right; margin-right: 60px;"><b>{{case.p_score}}</b></h1></div>
                                </div>
                        </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-light text-gray mb-4">
                                <div class="scorebox">
                                <div class="card-body">SOFA SOCRE</div>
                                <div> <h1 style="padding:10px; text-align:right; margin-right: 60px;"><b>{{case.p_SOFA}}</b></h1></div>
                            </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-light text-gray mb-4">
                                <div class="scorebox">
                                <div class="card-body">MEWS SCORE</div>
                                <div><h1 style="padding:10px; text-align:right; margin-right: 60px;"><b>{{case.p_MEWS}}</b></h1></div>
                                </div>
                            </div>
                        </div>

                        <!-- 프로필 -->
                        <div class="col-xl-3 col-md-6">
                            <div class="card bg-light text-gray mb-8">
                                <div class="card-body">PROFILE</div>
                                <div class="profile">
                                <img src="/static/icon1.png" width="250px" style="margin-left: 90px">
                            </div>
                                <div class="card-footer d-flex align-items-center justify-content-between" style="height: 330px;">
                                <table class="tg" style="table-layout: fixed; width: 291px; margin-left:50px;">
                                    <colgroup>
                                        <col style="width: 75px">
                                        <col style="width: 228px">
                                    </colgroup>
                                        <tr>
                                            <th class="tg-o40d">PID</th>
                                            <td class="tg-o40d">{{case.p_id}}</td>
                                        </tr>
                                        <tr>
                                            <th class="tg-o40d">NAME</th>
                                            <td class="tg-o40d"></td>
                                        </tr>
                                        <tr>
                                            <th class="tg-o40d">AGE</th>
                                            <td class="tg-o40d">{{vitals[0].age}}</td>
                                        </tr>
                                        <tr>
                                            <th class="tg-o40d">SEX</th>
                                            <td class="tg-o40d">{{"여성" if vitals[0].female==1 else "남성"}}</td>
                                        </tr>
                                        <tr>
                                            <th class="tg-o40d">cmt</th>
                                            <td class="tg-o40d">{{case.p_cmt}}</td>
                                        </tr>
                                        <tr>
                                        {% if vitals %}
                                        <th class="tg-o40d">ICUtpye</th>
                                        <td class="tg-o40d">{% if vitals[0].ICUtype == 1 %}
                                        관상치료실
                                        {% elif vitals[0].ICUtype == 2 %}
                                        심장외과회복실
                                        {% elif vitals[0].ICUtype == 3 %}
                                        의료 ICU
                                        {% elif vitals[0].ICUtype == 4 %}
                                        외과ICU
                                        {% endif %}</td> 
                                    </tr>
                                </table>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                    </div>
                    
   <!-- 그래프 -->
   <div class="row">
    <div class="col-xl-8">
        <div class="card mb-6">
            <div class="card-header">
                <i class="fas fa-chart-area me-1"></i>
                LIFE FORCE CHART
            </div>
            <div class="card-body"><canvas id="myAreaChart" width="7000%" height="2000%"></canvas>
            </div>
        </div>
    </div>
    </div>

    <!-- DATA TABLE -->
    <div class="card mb-3">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            LIFE FORCE DATATABLE
        </div>
        <div id="vitaltable">
            <table class="tg" style="table-layout: fixed; margin: auto">
                <thead>
                  <tr>
                    <th class="tg-esor">rec_time</th>
                    <th class="tg-esor">ALP</th>
                    <th class="tg-esor">Albumin</th>
                    <th class="tg-esor">BUN</th>
                    <th class="tg-esor">Bilirubin</th>
                    <th class="tg-esor">Cholesterol</th>
                    <th class="tg-esor">Creatinine</th>
                    <th class="tg-esor">FiO2</th>
                    <th class="tg-esor">GCS</th>
                    <th class="tg-esor">Glucose</th>
                    <th class="tg-esor">HCO3</th>
                    <th class="tg-esor">HCT</th>
                    <th class="tg-esor">HR</th>
                    <th class="tg-esor">K</th>
                    <th class="tg-esor">Lactate</th>
                    <th class="tg-esor">Mg</th>
                    <th class="tg-esor">Na</th>
                    <th class="tg-esor">PaCO2</th>
                    <th class="tg-esor">PaO2</th>
                    <th class="tg-esor">Platelets</th>
                    <th class="tg-esor">RR</th>
                    <th class="tg-esor">SPO2</th>
                    <th class="tg-esor">BT</th>
                    <th class="tg-esor">Urine</th>
                    <th class="tg-esor">WBC</th>
                    <th class="tg-esor">pH</th>
                    <th class="tg-esor">MechVent</th>
                    <th class="tg-esor">SBP</th>
                    <th class="tg-esor">DBP</th>
                    <th class="tg-esor">MBP</th>
                  </tr>
                </thead>
                <tbody>

            <!--환자 vital 표 나오는 곳-->
            {% for vital in vitals %}
            <tr style="padding:10px;height:45px;" id="casebox_{{vital.u_id}}">

                <td align="center">{{vital.rec_time}}</td>
                <td align="center">{{vital.ALP if vital.ALP != -1 else "-"}}</td>
                <td align="center">{{vital.Albumin if vital.Albumin != -1 else "-"}}</td>
                <td align="center">{{vital.BUN if vital.BUN != -1 else "-"}}</td>
                <td align="center">{{vital.Bilirubin if vital.Bilirubin != -1 else "-"}}</td>
                <td align="center">{{vital.Cholesterol if vital.Cholesterol != -1 else "-"}}</td>
                <td align="center">{{vital.Creatinine if vital.Creatinine != -1 else "-"}}</td>
                <td align="center">{{vital.FiO2 if vital.FiO2 != -1 else "-"}}</td>
                <td align="center">{{vital.GCS if vital.GCS != -1 else "-"}}</td>
                <td align="center">{{vital.Glucose if vital.Glucose != -1 else "-"}}</td>
                <td align="center">{{vital.HCO3 if vital.HCO3 != -1 else "-"}}</td>
                <td align="center">{{vital.HCT if vital.HCT != -1 else "-"}}</td>
                <td align="center">{{vital.HR}}</td>
                <td align="center">{{vital.K if vital.K != -1 else "-"}}</td>
                <td align="center">{{vital.Lactate if vital.Lactate != -1 else "-"}}</td>
                <td align="center">{{vital.Mg if vital.Mg != -1 else "-"}}</td>
                <td align="center">{{vital.Na if vital.Na != -1 else "-"}}</td>
                <td align="center">{{vital.PaCO2 if vital.PaCO2 != -1 else "-"}}</td>
                <td align="center">{{vital.PaO2 if vital.PaO2 != -1 else "-"}}</td>
                <td align="center">{{vital.Platelets if vital.Platelets != -1 else "-"}}</td>
                <td align="center">{{vital.RR}}</td>
                <td align="center">{{vital.SPO2}}</td>
                <td align="center">{{vital.BT if vital.BT != -1 else "-"}}</td>
                <td align="center">{{vital.Urine if vital.Urine != -1 else "-"}}</td>
                <td align="center">{{vital.WBC if vital.WBC != -1 else "-"}}</td>
                <td align="center">{{vital.pH if vital.pH != -1 else "-"}}</td>
                <td align="center">{{vital.MechVent if vital.MechVent != -1 else "-"}}</td>
                <td align="center">{{vital.SBP}}</td>
                <td align="center">{{vital.DBP}}</td>
                <td align="center">{{vital.MBP}}</td>

            
            {% endfor %}
            {% else %}
            <tr style="padding:10px;border-top:solid 1px #3388cc;">
                <td>
                    환자의 데이터가 존재하지 않습니다
                </td>
            </tr>
            {% endif %}
        </tbody>
        </table>
    </div>

    <!-- Display navigation links or buttons for paging -->
    <div>
    
        <!-- Previous page link -->
        {% if page > 1 %}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/cases/{{case.p_id}}/?user_name={{user}}&page={{ page - 1 }}&rows_per_page={{ rows_per_page }}">Previous</a>
        {% endif %}
    
        <!-- Page numbers -->
        {% for p in range(1, total_pages + 1) %}
        {% if p == page %}
        <strong>{{ p }}</strong>
        {% else %}
        <a href="/cases/{{case.p_id}}/?user_name={{user}}&page={{ p }}&rows_per_page={{ rows_per_page }}">{{ p }}</a>
        {% endif %}
        {% endfor %}
    
        <!-- Next page link -->
        {% if page < total_pages %} 
        <a href="/cases/{{case.p_id}}/?user_name={{user}}&page={{ page + 1 }}&rows_per_page={{ rows_per_page }}">Next</a>
        {% endif %}
    </div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src="/static/scripts.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
<script src="/static/chart-area-demo.js"></script>
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
   
</body>
</html>